:root {
    color-scheme: dark;
    --text-color-primary: #D4D4D4;
    --text-color-secondary: #A6A6A6;
    --bg-color-primary: #1E1E1E;
    --bg-color-secondary: #252526;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    color: var(--text-color-primary);
    background-color: var(--bg-color-primary);
}

a,
a:visited {
    color: #569CD6;
}