:root {
    color-scheme: dark;
    --text-color-primary: #dbdee1;
    --text-color-secondary: #b5bac1;
    --bg-color-primary: #313338;
    --bg-color-secondary: #232428;
    --bg-contents-list: #2b2d31;
    --bg-contents-list-highlight: #4e50584d;
    --text-contents-list: #b5bac1;
    --text-contents-list-active: #dbdee1;
    --text-content-title: #f2f3f5;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: var(--text-color-primary);
    background-color: var(--bg-color-primary);
    font-family: 'Noto Sans JP', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, Meiryo, sans-serif;
}

a,
a:visited {
    color: #569CD6;
}